<div class="fundo">
  <div class="row center fundo">

    <div class="titulo"> <h2>Conversor de Moedas</h2></div>

    <div class="select">
    <select [(ngModel)]="moeda2" class="form-select" aria-label="Default select example">
      <option selected>Selecione a moeda</option>
      <option *ngFor="let item of lista2" [value]="item.high">{{item.name}}</option>
      </select>
      <br>
    <input [(ngModel)]="moeda1" class="form-control" aria-label="Default select example">
  </div>




<div><button type="button" (click)="fazerConversao()" class="btn btn-outline-secondary">Converter</button></div>

      <div class="result">
        <b class="btn-convert">Resultado:</b>
        <p>{{resultadoConvercao}}</p>
      </div>
</div>
</div>
